{% extends "base.html" %}

{% block title %}Select page{% endblock title %}

{% block header %}
<div class="header-main">
        <div class="signup">
            <a href="/register">Tap to signup</a>
        </div>
        <div class="login">
            <a href="/login">Tap to login</a>
        </div>
</div>
{% endblock header %}

{% block content %}
    <div class="page-content">
        <h3>Notes manager</h3>
        <p>App helps you with managing your notes. Please log in if you already signed up user or sign up!</p>
    </div>
{% endblock content %}
